
without_modules/.terraform.lock.hcl
aws/resourses/.terraform.lock.hcl
aws/resourses/.terraform/providers/registry.terraform.io/hashicorp/aws/5.46.0/darwin_arm64/terraform-provider-aws_v5.46.0_x5
without_modules/.terraform/providers/registry.terraform.io/hashicorp/aws/5.46.0/darwin_arm64/terraform-provider-aws_v5.46.0_x5
